= categories({})

%h1
  Not Found

%p
  We're sorry, but the document you were looking for isn't here.

%p
  You might try searching for a recipe in our cookbook:

#refine-search
  = partial :_search_form

