= categories({})

%h1
  Well That Didn't Work

%p
  We're sorry, but something didn't quite work right.

%p
  While we fix it, you might try searching for a recipe in our cookbook:

#refine-search
  = partial :_search_form
