%form{:method => "get", :action => "/recipes/search"}
  %input{:type      => "text",
         :value     => @query,
         :name      => "q",
         :size      => 31,
         :maxlength => 2048}
  %input{:type  => "submit",
         :value => "Search",
         :name  => "s"}
