%html
  %title= ["EEE Cooks", @title].compact.join(": ")
  %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/style.css"}
%body
  #header
    #eee-header-logo
      %a{:href => "/"}
        %img{:alt => "Home", :src => "/images/eee_corner.png"}

  = yield

  #footer
