%h1= "Meals from #{@year}"

%div.navigation
  =link_to_adjacent_view_date(@year, @count_by_year, :previous => true)
  |
  =link_to_adjacent_view_date(@year, @count_by_year)

%ul
  - @meals["rows"].each do |meal|
    %li
      %a{:href => "/meals/#{meal['value'][0][0]}"}= meal['value'][0][1]
