!!! 5
%html
  %head
    %link{:rel => "stylesheet", :href => "http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css"}
    %script{:src => "http://code.jquery.com/jquery-1.4.4.min.js"}
    %script{:src => "http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"}

%body
  %div{"data-role" => "page"}
    %div{"data-role" => "header"}
      Meal
    %div{"data-role" => "content"}
      %h1
        = @meal['title']
      %p= wiki @meal['summary']
    %div{"data-role" => "footer"}
      EEE Cooks Footer
