@italian_red:   #d00;
@italian_green: #090;
@soft_green: #7CCD7C;
@soft_gray: #EEEEEE;

.rounded_header {
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 0;
}

.section_header {
  background-color: @italian_green;
  color: white;
  a {color: white;}
}

h1 {
  margin: 0px;
  border: 1px solid white;
}

table {
  width: 100%;
  th { .section_header; }
  td { padding: 1px 5px; }
 .row1 { background-color: @soft_gray; }
}

#homepage {
  h1 {
    font-size: 1.2em;
    .section_header;
    .rounded_header;
  }
}

#header {
  img {
    border: none;
  }
  margin: 0px 2px;
  border-bottom: 1px solid black;
}

ul#eee-categories {
  display: block;
  margin: 0px;
  float: right;

  li {
    display: inline;
    padding-left: 0.5em;

    a {
      font-weight: bold;
      text-decoration: none;
      color: black;
    }

    a:hover { color: @italian_green }
    a.active { color: @italian_red }
  }

}

.breadcrumbs {
  margin-top: 0.75em;
  font-size: 0.9em;
  a {
    color: @italian_green;
    font-weight: bold;
  }
}

#search {
  float:right;
}

.navigation {
  margin: 5px;
  font-size: 0.8em;
  font-style: italic;
  a { color: @italian_green; }
}

#recipe-meta {
  float: right;
  width: 250px;
}

.recipe-tools, .recipe-stats {
  border: 2px solid @italian_green;
  margin-top: 10px;

  h2 {
    font-size: medium;
    padding: 2px;
    margin: 0px;
    .section_header;
  }

  ul, li {
    display: block;
    padding: 1px;
    margin: 1px;
  }

  div {
    padding: 1px 3px;
  }

  .label {
    font-style: italic;
  }
}

#summary {
  img {
    float: right;
    border: 1px solid black;
    margin: 0 0 10px 5px;
  }
}

#refine-search {
  form { margin: 10px 0px 0px; }
  clear: both;
}

.numeric {
  text-align: right;
}

.pagination {
  float: right;
  margin-top: 10px;
  font-size: 0.8em;

  a, .current {
    border: 1px solid @italian_green;
    margin: 2px;
    padding: 2px 4px;
    color: @italian_green;
    text-decoration: none;
  }
  .current {
    background-color: @italian_green;
    color: white;
  }
  .inactive {
    border:1px solid #eee;
    color: #ddd;
    margin: 2px;
    padding: 2px 3px;
  }
}


#meals_by_month {
  h2 {
    color: @italian_green;
    font-style: italic;
    margin: 0px;
    a {
      color: @italian_green;
      font-style: normal;
    }
  }

  img {
    float: right;
    margin-left: 10px;
    border: 1px solid black;
  }

  .meal {
    clear: both;
    margin-bottom: 50px;
  }

  hr {
    color: black;
    height: 1px;
    border-bottom: 0px;
    width: 50%;
  }
}

#feedback {
  h1 { clear: both }
  label, input, textarea { display: block; }
  label { margin-top: 8px }
}
