.rounded_header {
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 0;
}
.section_header {
  background-color: #009900;
  color: white;
}
.section_header a { color: white; }
h1 {
  margin: 0px;
  border: 1px solid white;
}
h2 {
  margin-bottom: 0px;
  font-size: 1.2em;
}
table { width: 100%; }
table th {
  background-color: #009900;
  color: white;
}
table th a { color: white; }
table td { padding: 1px 5px; }
table .row1 { background-color: #eeeeee; }
ul { margin-top: 0px; }
#homepage { background: transparent url(/images/family.gif) no-repeat scroll 780px -10px; }
#homepage #content {
  margin: 10px 10px 75px;
  padding: 0 5px;
  position: relative;
  width: 800px;
}
#homepage #content h1 {
  font-size: 1.2em;
  padding: 0px 10px;
  background-color: #009900;
  color: white;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 0;
}
#homepage #content h1 a { color: white; }
#homepage #content ul#eee-categories {
  float: none;
  padding: 0px;
  text-align: right;
}
#homepage #content ul#eee-categories li {
  display: block;
  padding: 0px;
}
#homepage #content ul#eee-categories li a {
  font-weight: normal;
  color: #009900;
}
#homepage #content .lhc {
  left: 0;
  position: absolute;
  top: 0;
  width: 12%;
}
#homepage #content .rhc {
  margin: 0 0 0 80%;
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
}
#homepage #content .meals {
  left: 13%;
  padding-bottom: 10px;
  position: relative;
  width: 56%;
}
#homepage #content .meals .meal0 img {
  border: 0px;
  margin: 0px 5px;
}
#homepage #content .meals .meal1 img {
  border: 0px;
  margin: 0px 5px;
}
#homepage #content .meals .meal0 img { float: left; }
#homepage #content .meals .meal1 img { float: right; }
#homepage #content .meals .meal {
  border: 1px solid black;
  margin: 4px 1px 8px;
  padding: 3px;
  clear: both;
}
#homepage #content .meals .meal h2 {
  font-size: 1.25em;
  margin: 0px;
}
#homepage #content .meals .meal h2 a {
  color: #009900;
  text-decoration: none;
}
#homepage #content .meals .meal div { font-style: italic; }
#homepage #content .meals .meal .links p {
  display: inline;
  font-style: normal;
}
#header {
  margin: 0px 2px;
  border-bottom: 1px solid black;
}
#header img { border: none; }
ul#eee-categories {
  display: block;
  margin: 0px;
  float: right;
}
ul#eee-categories li {
  display: inline;
  padding-left: 0.5em;
}
ul#eee-categories li a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
ul#eee-categories li a:hover { color: #009900; }
ul#eee-categories li a.active { color: #dd0000; }
.breadcrumbs {
  margin-top: 0.75em;
  font-size: 0.9em;
}
.breadcrumbs a {
  color: #009900;
  font-weight: bold;
}
#search { float: right; }
.navigation {
  margin: 5px;
  font-size: 0.8em;
  font-style: italic;
}
.navigation a { color: #009900; }
#recipe-meta {
  float: right;
  width: 250px;
  margin: 3px 8px;
}
.recipe-tools {
  border: 2px solid #009900;
  margin-top: 10px;
}
.recipe-tools h2 {
  font-size: medium;
  padding: 2px;
  margin: 0px;
  background-color: #009900;
  color: white;
}
.recipe-tools h2 a { color: white; }
.recipe-tools ul {
  display: block;
  padding: 1px;
  margin: 1px;
}
.recipe-tools li {
  display: block;
  padding: 1px;
  margin: 1px;
}
.recipe-tools div { padding: 1px 3px; }
.recipe-tools .label { font-style: italic; }
.recipe-stats {
  border: 2px solid #009900;
  margin-top: 10px;
}
.recipe-stats h2 {
  font-size: medium;
  padding: 2px;
  margin: 0px;
  background-color: #009900;
  color: white;
}
.recipe-stats h2 a { color: white; }
.recipe-stats ul {
  display: block;
  padding: 1px;
  margin: 1px;
}
.recipe-stats li {
  display: block;
  padding: 1px;
  margin: 1px;
}
.recipe-stats div { padding: 1px 3px; }
.recipe-stats .label { font-style: italic; }
.preparations { color: #555555; }
.preparations .brand { font-style: italic; }
.preparations .name { color: black; }
#summary img {
  float: right;
  border: 1px solid black;
  margin: 0 0 10px 5px;
}
#instructions { width: 50em; }
#refine-search { clear: both; }
#refine-search form { margin: 10px 0px 0px; }
.numeric { text-align: right; }
.pagination {
  float: right;
  margin-top: 10px;
  font-size: 0.8em;
}
.pagination a {
  border: 1px solid #009900;
  margin: 2px;
  padding: 2px 4px;
  color: #009900;
  text-decoration: none;
}
.pagination .current {
  border: 1px solid #009900;
  margin: 2px;
  padding: 2px 4px;
  color: #009900;
  text-decoration: none;
}
.pagination .current {
  background-color: #009900;
  color: white;
}
.pagination .inactive {
  border: 1px solid #eeeeee;
  color: #dddddd;
  margin: 2px;
  padding: 2px 3px;
}
#meals_by_month h2 {
  color: #009900;
  font-style: italic;
  margin: 0px;
}
#meals_by_month h2 a {
  color: #009900;
  font-style: normal;
}
#meals_by_month img {
  float: right;
  margin-left: 10px;
  border: 1px solid black;
}
#meals_by_month .meal {
  clear: both;
  margin-bottom: 50px;
}
#meals_by_month hr {
  color: black;
  height: 1px;
  border-bottom: 0px;
  width: 50%;
}
#feedback h1 { clear: both; }
#feedback label { display: block; }
#feedback input { display: block; }
#feedback textarea { display: block; }
#feedback label { margin-top: 8px; }
#mini-calendar h1 {
  background-color: #009900;
  color: white;
  font-size: 1.2em;
  text-align: center;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 0;
}
#mini-calendar h1 a { color: white; }
#mini-calendar table th { background-color: #7ccd7c; }
#mini-calendar a {
  color: #009900;
  font-weight: bold;
}
#mini-calendar-frame {
  height: 16.5em;
  width: 100%;
}
#index-of-ingredients td { vertical-align: top; }
#index-of-ingredients .ingredient { font-weight: bold; }
#index-of-ingredients p {
  padding-left: 10px;
  text-indent: -10px;
}
#recipe-alternates {
  margin: 0 8px;
  padding-left: 10px;
  text-indent: -10px;
}
.label { font-weight: bold; }
.google .blue { color: #0039b6; }
.google .red { color: #c41200; }
.google .yellow { color: #f3c518; }
.google .green { color: #30a72f; }
#footer {
  text-align: center;
  border-top: 1px solid black;
  margin-top: 12px;
  padding-top: 20px;
  font-size: 0.8em;
}
#footer img { border: 0px; }
