@italian_red:   #d00;
@italian_green: #090;
@soft_green: #7CCD7C;
@soft_gray: #EEEEEE;

.rounded_header {
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 0;
}

.section_header {
  background-color: @italian_green;
  color: white;
  a {color: white;}
}

h1 {
  margin: 0px;
  border: 1px solid white;
}

h2 {
  margin-bottom: 0px;
  font-size: 1.2em;
}

table {
  width: 100%;
  th { .section_header; }
  td { padding: 1px 5px; }
 .row1 { background-color: @soft_gray; }
}

ul {
  margin-top: 0px;
}

#homepage {
  background:transparent url(/images/family.gif) no-repeat scroll 780px -10px;

  #content {
    margin:10px 10px 75px;
    padding:0 5px;
    position:relative;
    width:800px;

    h1 {
      font-size: 1.2em;
      padding: 0px 10px;
      .section_header;
      .rounded_header;
    }

    ul#eee-categories {
      float: none;
      padding: 0px;
      text-align: right;

      li {
        display: block;
        padding: 0px;
        a {
          font-weight: normal;
          color: @italian_green;
        }
      }
    }

    .lhc {
      left:0;
      position:absolute;
      top:0;
      width:12%;
    }

    .rhc {
      margin:0 0 0 80%;
      position:absolute;
      right:0;
      top:0;
      width:30%;
    }

    .meals {
      left:13%;
      padding-bottom:10px;
      position:relative;
      width:56%;

      .meal0 img, .meal1 img { border: 0px; margin: 0px 5px; }
      .meal0 img { float: left; }
      .meal1 img { float: right; }

      .meal {
        border: 1px solid black;
        margin: 4px 1px 8px;
        padding: 3px;
        clear: both;

        h2 {
          font-size: 1.25em;
          margin: 0px;
          a {
            color: @italian_green;
            text-decoration: none;
          }
        }
        div { font-style: italic; }
        .links p { display: inline; font-style: normal; }
      }
    }
  }
}

#header {
  img {
    border: none;
  }
  margin: 0px 2px;
  border-bottom: 1px solid black;
}

ul#eee-categories {
  display: block;
  margin: 0px;
  float: right;

  li {
    display: inline;
    padding-left: 0.5em;

    a {
      font-weight: bold;
      text-decoration: none;
      color: black;
    }

    a:hover { color: @italian_green }
    a.active { color: @italian_red }
  }

}

.breadcrumbs {
  margin-top: 0.75em;
  font-size: 0.9em;
  a {
    color: @italian_green;
    font-weight: bold;
  }
}

#search {
  float:right;
}

.navigation {
  margin: 5px;
  font-size: 0.8em;
  font-style: italic;
  a { color: @italian_green; }
}

#recipe-meta {
  float: right;
  width: 250px;
  margin: 3px 8px;
}

.recipe-tools, .recipe-stats {
  border: 2px solid @italian_green;
  margin-top: 10px;

  h2 {
    font-size: medium;
    padding: 2px;
    margin: 0px;
    .section_header;
  }

  ul, li {
    display: block;
    padding: 1px;
    margin: 1px;
  }

  div {
    padding: 1px 3px;
  }

  .label {
    font-style: italic;
  }
}

.preparations {
  color: #555;
  .brand {
    font-style: italic;
  }
  .name {
    color: black;
    /* background-color: #FFFFe0; */
  }
}

#summary {
  img {
    float: right;
    border: 1px solid black;
    margin: 0 0 10px 5px;
  }
}

#instructions {
  width: 50em;
}

#refine-search {
  form { margin: 10px 0px 0px; }
  clear: both;
}

.numeric {
  text-align: right;
}

.pagination {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;

  a, .current {
    border: 1px solid @italian_green;
    margin: 2px;
    padding: 2px 4px;
    color: @italian_green;
    text-decoration: none;
  }
  .current {
    background-color: @italian_green;
    color: white;
  }
  .inactive {
    border:1px solid #eee;
    color: #ddd;
    margin: 2px;
    padding: 2px 3px;
  }
}


#meals_by_month {
  h2 {
    color: @italian_green;
    font-style: italic;
    margin: 0px;
    a {
      color: @italian_green;
      font-style: normal;
    }
  }

  img {
    float: right;
    margin-left: 10px;
    border: 1px solid black;
  }

  .meal {
    clear: both;
    margin-bottom: 50px;
  }

  hr {
    color: black;
    height: 1px;
    border-bottom: 0px;
    width: 50%;
  }
}

#feedback {
  h1 { clear: both }
  label, input, textarea { display: block; }
  label { margin-top: 8px }
}

#mini-calendar {
  h1 {
    background-color: @italian_green;
    color: white;
    font-size: 1.2em;
    text-align: center;
    .rounded_header;
    a {
      color: white;
    }
  }
  table th {
    background-color: @soft_green;
  }
  a {
   color: @italian_green;
   font-weight: bold;
 }
}

#mini-calendar-frame {
  height: 16.5em;
  width: 100%;
}

#index-of-ingredients {
  td {
    vertical-align: top;
  }
  .ingredient {
    font-weight: bold;
  }
  p {
    padding-left:10px;
    text-indent:-10px;
  }
}


#recipe-alternates {
  margin:0 8px;
  padding-left:10px;
  text-indent:-10px;
}

.label {
  font-weight: bold;
}

.google {
  .blue   { color: #0039B6 }
  .red    { color: #C41200 }
  .yellow { color: #F3C518 }
  .green  { color: #30A72F }
}

#footer {
  clear: both;
  text-align: center;
  border-top: 1px solid black;
  padding-top: 20px;
  font-size: 0.8em;
  img {
    border: 0px;
  }
}
